body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("./Assets/gallery-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.front-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;

  background-image: url("./Assets/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.front-page::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.front-page > * {
  position: relative;
  color: white;
}

.front-page h1 {
  font-size: 3rem;
  letter-spacing: 3px;
  margin-bottom: 10px;
  color: white;
}

.front-page p {
  font-size: 1.6rem;
  letter-spacing: 2px;
  margin-bottom: 25px;
  color: white;
}

.front-page button {
  padding: 12px 30px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #005816;
  color: white;
  cursor: pointer;
}

.front-page button:hover {
  background-color: black;
}

.gallery-title {
  text-align: center;
  margin: 20px 0;
  color: white;
  font-size: 3rem;
  letter-spacing: 3px;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.image-card {
  background:#ffffff;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
  text-align: center;
}

.image-card:hover {
  transform: translateY(-5px);
  transition: 0.3s;
  cursor: pointer;
}

.image-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.image-card h3 {
  margin: 10px 0 5px;
  color: #1b5e20;
}

.image-card p {
  color: #555555;
  font-size: 16px;
}

button {
  background-color:#2e7d32;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #000000;
}


.back-btn-container {
  text-align: center;
  margin: 20px;
}

.back-btn {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #005816;
  color: white;
  font-size: 15px;
}

.back-btn:hover {
  background-color: black;
}